@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: local(''),
			 url('fonts/montserrat-v15-latin-regular.woff2') format('woff2'),
			 url('fonts/montserrat-v15-latin-regular.woff') format('woff');
}
:root {
	--h: 197;
	--s: 92%;
	--l: 61%;

	--c0: hsl(calc(var(--h) + 7), calc(var(--s) + 4%), calc(var(--l) - 34%));
	--c1: hsl(calc(var(--h) + 6), calc(var(--s) - 5%), calc(var(--l) - 27%));
	--c2: hsl(calc(var(--h) + 5), calc(var(--s) - 9%), calc(var(--l) - 20%));
	--c3: hsl(calc(var(--h) + 4), calc(var(--s) - 13%), calc(var(--l) - 15%));
	--c4: hsl(calc(var(--h) + 2), calc(var(--s) - 6%), calc(var(--l) - 6%));
	--c5: hsl(var(--h), var(--s), var(--l));
	--c6: hsl(calc(var(--h) - 2), calc(var(--s) + 2%), calc(var(--l) + 6%));
	--c7: hsl(calc(var(--h) - 1), calc(var(--s) + 5%), calc(var(--l) + 14%));
	--c8: hsl(calc(var(--h) - 1), calc(var(--s) + 8%), calc(var(--l) + 24%));
	--c9: hsl(calc(var(--h) - 1), calc(var(--s) + 11%), calc(var(--l) + 34%));

	--a11y-c: var(--c7);
	--focus-c: var(--c9);
	--gap-lr: 1.5rem;
	--gap-tb: 1rem;
	--grid-bgc: var(--c1);
	--grid-bxsh: none;
	--grid-l: -100vw;
	--ico-sz: 3rem;
	--maw: 1000px;
	--rng-h: 2rem;

	/* Generated Colors */
	--c-prm: hsl(var(--h), var(--s), var(--l));
	--c-com: hsl(calc(var(--h) + 180), var(--s), var(--l));
	
	/* Analogous */
	--c-an1: hsl(calc(var(--h) + 30), var(--s), var(--l));
	--c-an2: hsl(calc(var(--h) - 30), var(--s), var(--l));
	
	/* Rect / Square */
	--c-rc1: hsl(calc(var(--h) + 60), var(--s), var(--l));
	--c-sq1: hsl(calc(var(--h) + 90), var(--s), var(--l));
	--c-sq2: hsl(calc(var(--h) + 270), var(--s), var(--l));
	
	/* Split complimentary */
	--c-sc1: hsl(calc(var(--h) + 150), var(--s), var(--l));
	--c-sc2: hsl(calc(var(--h) + 210), var(--s), var(--l));

	/* Triad */
	--c-tr1: hsl(calc(var(--h) + 120), var(--s), var(--l));
	--c-tr2: hsl(calc(var(--h) - 120), var(--s), var(--l));

	/* Shades */
	--c-sh1: hsl(var(--h), var(--s), calc(var(--l) - ((100% - var(--l)) / 10) * 1));
	--c-sh2: hsl(var(--h), var(--s), calc(var(--l) - ((100% - var(--l)) / 10) * 2));
	--c-sh3: hsl(var(--h), var(--s), calc(var(--l) - ((100% - var(--l)) / 10) * 3));
	--c-sh4: hsl(var(--h), var(--s), calc(var(--l) - ((100% - var(--l)) / 10) * 4));
	--c-sh5: hsl(var(--h), var(--s), calc(var(--l) - ((100% - var(--l)) / 10) * 5));
	--c-sh6: hsl(var(--h), var(--s), calc(var(--l) - ((100% - var(--l)) / 10) * 6));
	--c-sh7: hsl(var(--h), var(--s), calc(var(--l) - ((100% - var(--l)) / 10) * 7));
	--c-sh8: hsl(var(--h), var(--s), calc(var(--l) - ((100% - var(--l)) / 10) * 8));
	--c-sh9: hsl(var(--h), var(--s), calc(var(--l) - ((100% - var(--l)) / 10) * 9));

	/* Tints */
	--c-tn1: hsl(var(--h), var(--s), calc(var(--l) + ((100% - var(--l)) / 10) * 1));
	--c-tn2: hsl(var(--h), var(--s), calc(var(--l) + ((100% - var(--l)) / 10) * 2));
	--c-tn3: hsl(var(--h), var(--s), calc(var(--l) + ((100% - var(--l)) / 10) * 3));
	--c-tn4: hsl(var(--h), var(--s), calc(var(--l) + ((100% - var(--l)) / 10) * 4));
	--c-tn5: hsl(var(--h), var(--s), calc(var(--l) + ((100% - var(--l)) / 10) * 5));
	--c-tn6: hsl(var(--h), var(--s), calc(var(--l) + ((100% - var(--l)) / 10) * 6));
	--c-tn7: hsl(var(--h), var(--s), calc(var(--l) + ((100% - var(--l)) / 10) * 7));
	--c-tn8: hsl(var(--h), var(--s), calc(var(--l) + ((100% - var(--l)) / 10) * 8));
	--c-tn9: hsl(var(--h), var(--s), calc(var(--l) + ((100% - var(--l)) / 10) * 9));
}

html {
	height: -webkit-fill-available;
}

body {
	box-sizing: border-box;
	font-family: 'Montserrat', ui-sans-serif, system-ui, sans-serif;
	line-height: 1.5;
	margin: 0;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	padding: 0;
	-webkit-font-smoothing: subpixel-antialiased;
}

a {
	color: currentColor;
}

a:focus {
	outline: none;
}

hr {
	border: 0;
	height: 2.5em;
	margin: 0;
	outline: 0;
	padding: 0;
	position: relative;
}

hr::before {
	bottom: 0;
	content: "—— ✻ ——";
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}

main {
	background-color: var(--c0);
	height: 100%;
	min-height: 100vh;
}

.bf {
	height: 100vh;
	overflow: hidden;
	position: fixed;
	width: 100%;
}

.c-a11y {
	border-radius: 50%;
	cursor: pointer;
	display: grid;
	height: 4rem;
	left: 1rem;
	place-items: center;
	position: absolute;
	top: 2.75rem;
	width: 4rem;
}

.c-grid {
	bottom: 0;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(11, 1fr);
	height: 100%;
	left: var(--grid-l);
	position: fixed;
	right: 0;
	top: var(--rng-h);
	transition: left 0.5s cubic-bezier(.35,.92,1,1);
	width: 100vw;
	z-index: 10;
}

.c-grid__item {
	font-size: xx-small;
	margin: 0;
	padding: 0;
}

.c-grid__item span {
	background-color: var(--c1);
	color: var(--c9);
	display: inline-block;
	line-height: 1;
	opacity: 0.5;
	padding: 0.5em 0.65em;
}

.c-grid__item:nth-of-type(1) {
	background-color: var(--c-prm);
	grid-column: 1/5;
	grid-row: 1/4;
}

.c-grid__item:nth-of-type(2) {
	background-color: var(--c-tr2);
	grid-column: 5/7;
	grid-row: 1/3;
}

.c-grid__item:nth-of-type(3) {
	background-color: var(--c-an1);
	grid-column: 5/6;
	grid-row: 3/4;
}

.c-grid__item:nth-of-type(4) {
	background-color: var(--c-an2);
	grid-column: 6/7;
	grid-row: 3/4;
}

.c-grid__item:nth-of-type(5) {
	background-color: var(--c-rc1);
	grid-column: 1/3;
	grid-row: 4/5;
}

.c-grid__item:nth-of-type(6) {
	background-color: var(--c-sq1);
	grid-column: 3/5;
	grid-row: 4/5;
}

.c-grid__item:nth-of-type(7) {
	background-color: var(--c-sq2);
	grid-column: 5/7;
	grid-row: 4/5;
}

.c-grid__item:nth-of-type(8) {
	background-color: var(--c-sc1);
	grid-column: 1/3;
	grid-row: 5/7;
}

.c-grid__item:nth-of-type(9) {
	background-color: var(--c-sc2);
	grid-column: 1/2;
	grid-row: 7/8;
}

.c-grid__item:nth-of-type(10) {
	background-color: var(--c-tr1);
	grid-column: 2/3;
	grid-row: 7/8;
}

.c-grid__item:nth-of-type(11) {
	background-color: var(--c-com);
	grid-column: 3/7;
	grid-row: 5/8;
}

.c-grid__item:nth-of-type(12) {
	background-color: var(--c-sh2);
	grid-column: 1/2;
	grid-row: 8/9;
}

.c-grid__item:nth-of-type(13) {
	background-color: var(--c-sh5);
	grid-column: 2/3;
	grid-row: 8/9;
}

.c-grid__item:nth-of-type(14) {
	background-color: var(--c-sh3);
	grid-column: 3/5;
	grid-row: 8/10;
}

.c-grid__item:nth-of-type(15) {
	background-color: var(--c-tn3);
	grid-column: 5/7;
	grid-row: 8/10;
}

.c-grid__item:nth-of-type(16) {
	background-color: var(--c-tn6);
	grid-column: 1/3;
	grid-row: 9/10;
}

.c-grid__item:nth-of-type(17) {
	background-color: var(--c-sh9);
	grid-column: 1/4;
	grid-row: 10/10;
}

.c-grid__item:nth-of-type(18) {
	background-color: var(--c-sh7);
	grid-column: 4/7;
	grid-row: 10/10;
}

.c-grid__item:nth-of-type(19) {
	background-color: var(--c-prm);
	grid-column: 1/7;
	grid-row: 11/11;
}

.c-grid__item--range {
	display: flex;
}

.c-grid__item--range label {
	flex: 1;
}

.c-grid__ico {
	height: 2.25rem;
	width: 2.25rem;
}

.c-grid__label {
	background-color: var(--grid-bgc);
	border-radius: 50%;
	box-shadow: var(--grid-bxsh);
	cursor: pointer;
	display: grid;
	height: 4rem;
	place-items: center;
	position: absolute;
	right: 1rem;
	top: 2.75rem;
	transition: all .3s ease-in-out;
	width: 4rem;
	z-index: 0;
}

.c-ico {
	cursor: pointer;
	fill: currentColor;
	height: var(--ico-sz);
	width: var(--ico-sz);
}

.c-ico--a11y {
	fill: var(--a11y-c);
}

.c-nav {
	max-width: 100vw;
	overflow: hidden;
	-webkit-tap-highlight-color: transparent;
}

.c-nav__inner {
	width: 200%;
}

.c-nav__item {
	transform: rotate(var(--r,0));
	transition: transform 1.25s cubic-bezier(.47, 1.64, .41, .99);
}

.c-nav__item:nth-of-type(1) { --r: var(--r1,0); }
.c-nav__item:nth-of-type(2) { --r: var(--r2,0); }
.c-nav__item:nth-of-type(3) { --r: var(--r3,0); }
.c-nav__item:nth-of-type(4) { --r: var(--r4,0); }
.c-nav__item:nth-of-type(5) { --r: var(--r5,0); }
.c-nav__item:nth-of-type(6) { --r: var(--r6,0); }
.c-nav__item:nth-of-type(7) { --r: var(--r7,0); }
.c-nav__item:nth-of-type(8) { --r: var(--r8,0); }
.c-nav__item:nth-of-type(9) { --r: var(--r9,0); transform-origin: 50% 50%; }

.c-nav__item:focus circle {
	outline: none;
	stroke: var(--focus-c);
	stroke-width: 0.1;
}

.c-nav__item circle {
	transition: var(--trsp, none) var(--trsdu) ease-in-out;
}

.c-nav__item circle:hover {
	opacity: 0.5;
}

.c-nav__item text {
	font-size: 3px;
	pointer-events: none;
	text-transform: uppercase;
}

.c-nav__text--xs {
	display: block;
}

.c-nav__text--xl {
	display: none;
}

/* Circle Rings Modifiers */
.c-nav__item:nth-of-type(2) circle { transition-delay: var(--d1, 0); }
.c-nav__item:nth-of-type(3) circle { transition-delay: var(--d2, 0); }
.c-nav__item:nth-of-type(4) circle { transition-delay: var(--d3, 0); }
.c-nav__item:nth-of-type(5) circle { transition-delay: var(--d4, 0); }
.c-nav__item:nth-of-type(6) circle { transition-delay: var(--d5, 0); }
.c-nav__item:nth-of-type(7) circle { transition-delay: var(--d6, 0); }
.c-nav__item:nth-of-type(8) circle { transition-delay: var(--d7, 0); }
.c-nav__item:nth-of-type(9) path { transition-delay: var(--d8, 0); }

.c-rng {
	--rng-bdrs: 0;
	--rng-bgi: transparent; 
	--rng-m: 0;
	--rng-value: 0;
	--rng-w: 100%;
	--rng-thumb-bdrs: 50%;
	--rng-thumb-bgc: transparent;
	--rng-thumb-bxsh: inset 0 0 0 0.125rem rgba(255, 255, 255, 0.8);
	--rng-thumb-bxsh--focus: inset 0 0 0 0.125rem var(--c0), 0 0 0 0.125rem  rgba(255, 255, 255, 0.8);
	--rng-thumb-h: 2rem;
	--rng-thumb-w: 2rem;
	--rng-thumb-z: 1;

	background-image: var(--rng-bgi);
	border-radius: var(--rng-bdrs);
	box-sizing: border-box;
	font-family: inherit;
	height: var(--rng-h);
	margin: var(--rng-m);
	outline: none;
	position: relative;
	touch-action: none;
	width: var(--rng-w);
}

.c-rng--hue {
	--rng-bgi: linear-gradient(to right, red, #ff8000, #ff0, #80ff00, lime, #00ff80, cyan, #007fff, blue, #7f00ff, #f0f, #ff0080, red);
	--rng-thumb-bgc: hsl(var(--h), 100%, 50%);
}

.c-rng--lightness {
	--rng-bgi: linear-gradient(to right, #000, hsl(var(--h), 100%, 50%), #FFF);
	--rng-thumb-bgc: hsl(var(--h), 100%, var(--l), 1);
}

.c-rng--saturation {
	--rng-bgi: linear-gradient(to right, #808080, hsl(var(--h), 100%, 50%));
	--rng-thumb-bgc: hsl(var(--s), var(--s), 50%, 1);
}

.c-rng::-moz-range-thumb {
	background-color: var(--rng-thumb-bgc);
	border-radius: var(--rng-thumb-bdrs);
	box-shadow: var(--rng-thumb-bxsh);
	color: #000;
	cursor: ew-resize;
	height: var(--rng-thumb-h);  
	margin-top: calc(0px - ((var(--rng-thumb-h) - var(--rng-h)) / 2));
	position: relative;
	width: var(--rng-thumb-w);
	z-index: var(--rng-thumb-z);
}

.c-rng::-webkit-slider-thumb {
	background-color: var(--rng-thumb-bgc);
	border-radius: var(--rng-thumb-bdrs);
	box-shadow: var(--rng-thumb-bxsh);
	cursor: ew-resize;
	height: var(--rng-thumb-h);  
	margin-top: calc(0px - ((var(--rng-thumb-h) - var(--rng-h)) / 2));
	position: relative;
	width: var(--rng-thumb-w);
	z-index: var(--rng-thumb-z);
}

.c-rng:focus::-webkit-slider-thumb {
	box-shadow: var(--rng-thumb-bxsh--focus);
}

.c-rng::-moz-range-track {
	background: transparent;
	background-size: 100%;
	box-sizing: border-box;
	height: var(--rng-h);
}

.c-rng::-webkit-slider-runnable-track {
	background: transparent;
	background-size: 100%;
	box-sizing: border-box;
	height: var(--rng-h);
}

.c-rng,
.c-rng::-webkit-slider-runnable-track,
.c-rng::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
}

.c-rng[disabled] {
	height: 0;
	opacity: 0;
}

.c-spot {
	--bgc: var(--c1);
	--c: var(--c9);

	background-color: var(--bgc);
	box-sizing: border-box;
	color: var(--c);
	font-size: clamp(1.2rem, 1.0615rem + 0.6154vw, 1.8rem);
	height: 100vh;
	opacity: 0.2;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	text-align: center;
	top: 0;
	transform: scaleY(0);
	transform-origin: 50% -100vw;
	transition: all .5s ease-in-out;
	width: 100%;
	z-index: 1;
}

.c-spot a:not(.c-spot__close):focus {
	outline: 3px solid var(--c0);
}

.c-spot__close {
	color: inherit;
	display: block;
	margin: var(--gap-tb) 0 3vh 0;
}

.c-spot__close:focus .c-ico {
	border-radius: 50%;
	/* box-shadow: 0 0 0 3px var(--c0); */
}

.c-spot__headline {
	font-size: clamp(2rem, 1.4231rem + 2.5641vw, 4.5rem);
	letter-spacing: 0.15em;
	line-height: 1.2;
	padding: 0 var(--gap-lr);
	text-transform: uppercase;
}

.c-spot__headline::before,
.c-spot__headline::after {
	border-bottom: 1px solid currentColor;
	content: '';
	display: block;
	margin: 0.625em auto;
	width: 60%;
}

.c-spot p {
	padding: 0 var(--gap-lr) var(--gap-lr) var(--gap-lr);
}

.c-spot:target {
	opacity: 0.97;
	transform: scaleY(1);
}

.c-spot:target ~ .c-nav {
	--r1: 45deg;
	--r2: -45deg;
	--r3: 75deg;
	--r4: -75deg;
	--r5: -325deg;
	--r6: 115deg;
	--r7: -180deg;
	--r8: 360deg;
	--r9: 0;
}

/* Modifiers: Inherit Ring Color From Circle */
.c-spot--r2 { --bgc: var(--c2); --c: var(--c8); } 
.c-spot--r3 { --bgc: var(--c3); --c: var(--c8); } 
.c-spot--r4 { --bgc: var(--c4); --c: var(--c9); } 
.c-spot--r5 { --bgc: var(--c5); --c: var(--c1); } 
.c-spot--r6 { --bgc: var(--c6); --c: var(--c1); } 
.c-spot--r7 { --bgc: var(--c7); --c: var(--c1); } 

/* State */
[name="a11y"]:checked + main {
	--c0: hsl(192, 10%, 10%);
	--c1: hsl(192, 10%, 20%);
	--c2: hsl(192, 10%, 30%);
	--c3: hsl(192, 10%, 40%);
	--c4: hsl(192, 10%, 50%);
	--c5: hsl(192, 10%, 60%);
	--c6: hsl(192, 10%, 70%);
	--c7: hsl(192, 10%, 80%);
	--c8: hsl(192, 10%, 90%);
	--c9: hsl(192, 10%, 100%);
	
	--d1: 0.1s;
	--d2: 0.2s;
	--d3: 0.3s;
	--d4: 0.4s;
	--d5: 0.5s;
	--d6: 0.6s;
	--d7: 0.7s;
	--d8: 0.9s;

	--r9: 360deg;

	--a11y-c: url(#rainbow);
	--trsp: fill;
	--trsdu: .3s;

	transition: background-color var(--trsdu) ease-in-out;
}

[name="a11y"]:checked + main .c-rng--hsl-label{
	filter: grayscale(1);
}

[name="a11y"]:checked + main .c-grid__label,
[name="a11y"]:checked + main .c-grid {
	filter: grayscale(1);
}

[name="a11y"]:focus + main .c-a11y {
	box-shadow: 0 0 0 2px var(--focus-c);
}

[name="grid"]:checked + .c-grid__label {
	--grid-bgc: #FFF;
	--grid-bxsh: 0 0 0 3px var(--c0);
	z-index: 11;
}

[name="grid"]:focus + .c-grid__label {
	--grid-bxsh: 0 0 0 2px var(--focus-c);
}
 
[name="grid"]:checked:focus + .c-grid__label {
	--grid-bxsh: 0 0 0 3px var(--c0);
}

[name="grid"]:checked ~ .c-grid {
	--grid-l: 0;
} 

/* RWD */
@media (min-width: 800px) {
	:root {
		--grid-bgc: transparent;
	}

	.c-a11y {
		left: var(--gap-lr);
		top: calc(var(--gap-tb) * 3);
	}

	.c-grid__label {
		left: auto;
		right: var(--gap-lr);
		top: 3rem;
	}

	.c-nav { 
		display: grid;
		padding: var(--gap-tb) var(--gap-lr);
		place-items: center;
	}

	.c-nav__inner {
		max-width: vatic;
		width: 100%;
	}

	.c-nav__item {
		transform-origin: 50% 50%;
	}

	.c-nav__text--xs {
		display: none;
	}

	.c-nav__text--xl {
		display: block;
	}

	.c-spot {
		border-radius: 50%;
		box-shadow: 0 0 2px 1px currentColor;
		height: calc(100vw - (var(--gap-lr) * 2));
		left: var(--gap-lr);
		max-height: var(--maw);
		max-width: var(--maw);
		position: absolute;
		top: 3.5rem;
		transform: scale(0);
		transform-origin: 50% 50%;
		transition: all .8s cubic-bezier(.47, 1.64, .41, .99);
		width: calc(100vw - (var(--gap-lr) * 2));
	}

	.c-spot:target {
		transform: scale(1);
	}

	.c-spot__headline {
		margin: 0 auto 0.5em auto;
		max-width: 60%;
	}

	.c-spot p {
		margin: 0 auto;
		max-width: 75%;
	}
}

@media (min-width: 1100px) {
	:root {
		--maw: calc(100vw - (var(--gap-lr) * 2));
	}

	.c-spot {
		left: calc((100vw - var(--maw)) / 2);
	}
}

@media (min-width: 1448px) {
	:root {
		--maw: 1400px;
	}
}

.sr-only {
	clip: rect(0 0 0 0); 
	clip-path: inset(50%);
	height: 1px;
	left: 0;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
}

/* HACKS: TEMP: FIX FOR FIREFOX */
@-moz-document url-prefix() {
	.c-nav__item text {
		display: none;
	}
}